.quote {
  display: grid;
  grid-template-columns: 540px 50px;
  grid-template-rows: auto auto;
  margin-top: 56px;
  justify-content: start;
}

.quoteText {
  color: var(--white);
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
}

.quoteAutor {
  color: var(--white);
  margin-top: 13px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  grid-column: 1/2;
}

.refreshIconContainer {
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}

.refreshIconContainer.isLoading {
  animation: rotate 1s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1439px) {
  .quote {
    display: grid;
    grid-template-columns: 540px 50px;
    grid-template-rows: auto auto;
    margin-top: 56px;
    margin-left: 155px;
    justify-content: start;
  }
}

@media (max-width: 1200px) {
  //993
  .quote {
    display: grid;
    grid-template-columns: 540px 50px;
    grid-template-rows: auto auto;
    margin-top: 56px;
    margin-left: 55px;
    justify-content: start;
  }
}

@media (max-width: 768px) {
  //577
  .quote {
    display: grid;
    grid-template-columns: 450px 50px;
    grid-template-rows: auto auto;
    margin-top: 56px;
    margin-left: 10px;
    justify-content: start;
  }
}

@media (max-width: 576px) {
  .quote {
    display: grid;
    grid-template-columns: 337px 20px;
    grid-template-rows: auto auto;
    margin-top: 56px;
    margin-left: 10px;
    justify-content: start;
  }
}
