.quote {
  display: grid;
  grid-template-columns: 540px;
  grid-template-rows: auto auto;
  margin-top: 56px;
  justify-content: start;
  // position: fixed;
  // width: 540px;
}

.quoteText {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.quoteAutor {
  color: var(--white);
  margin-top: 13px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
